body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* ----- HEADER ----- */

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
}

.logo-section img {
    height: 60px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    margin-right: 20px;
    color: #666;
    font-size: 0.9rem;
}

.bouton-deconnexion {
    background-color: #004d66;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.bouton-deconnexion:hover {
    background-color: #00334d;
}
/* ----- FIN HEADER ----- */



/* ----- FOOTER ----- */

.main-footer {
    height: 100px;
    background-color: #004d66;
}
/* ----- FIN FOOTER ----- */










.container {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styles de la zone d'uploads */
.file-upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


/* style pour l'apparence du bouton de sélection de fichier */
.action-button {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #ccc;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    white-space: nowrap;
    width: auto;
    min-width: fit-content;

}
.action-button:hover {
    background-color: #aaa;
}

/* Style du message de statut */
#file-status {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0;
}





/* couleurs des messages d'info sur le fichier csv */
#file-status .info {
    font-weight: bold;
}

#file-status .success {
    color: #155724;
}

#file-status .added {
    color: #004d66;
}

#file-status .warning {
    color: #856404;
}

#file-status .ignored {
    color: #555;
}

#file-status .error {
    color: red;
    font-weight: bold;
}